form#df_site_registration_form table {
    width: 98%;
    line-height: 30px;
}

form#df_site_registration_form table th
{
  font-weight: bold;
  font-size: 12pt;
}

form#df_site_registration_form table td
{
  text-align: left;
  vertical-align: top;
}

form#df_site_registration_form table td > table
{
  width: 60%;
}

form#df_site_registration_form table td > table td
{
  line-height: 15px;
}

form#df_site_registration_form table tr.plugin td:last-child
{
  text-align: right;
}